.descuentos{
    padding-top: 0.6rem;
}

.container{
    background-color: #168456b8;
    display: flex;
    justify-content: center;    
    
}



.display{
    display: none;
}

.text{
    width: 900px;
    margin: 0.8rem 0rem;
    cursor: default;
    animation: scrollText 15s linear infinite;
}



.bold{
    font-weight: 600;
}

.underlined{
    text-decoration: underline;
}

.codigo{
    cursor: pointer;
}

.transform {
    transition: transform 0.2s ease-in-out;
}

.transform:hover {
    transform: scale(1.05); 
}
  

@media (max-width: 1030px) {

    .container{
        position: absolute;
    }

    .text{
        width: 1450px;
        animation: scrollText 20s linear infinite;
    }

    @keyframes scrollText {
        0% {
          transform: translateX(55%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

}

@media (max-width: 700px) {


    .text{
        animation: scrollText 20s linear infinite;
    }

    @keyframes scrollText {
        0% {
          transform: translateX(30%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

}



@media (max-width: 400px) {


    .text{
        width: 1450px;
        animation: scrollText 20s linear infinite;
    }

    @keyframes scrollText {
        0% {
          transform: translateX(25%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

}