.about{

    display: flex
    ;
        justify-content: center;
}

.container{
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding: 6rem 0rem;
    margin: 0rem 5rem;

    align-items: center;
}


.imgAbout{
    width: 25rem;
    height: 14rem;
    border-radius: 9px;
    filter: brightness(0.7);
    /* ////// */  image-rendering: -webkit-optimize-contrast;
}

.imgCont{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* ////// */ 
    width: 50%;
    margin-right: 3rem;
}

.transform {
    transition: transform 0.2s ease-in-out;
}

.transform:hover {
    transform: scale(1.1); 
}

.aboutText{
    display: none;
}

.aboutTextResp{
    text-shadow: 0px 5px 3.7px #00000068;
    font-size: 27px;
    font-weight:600 ;
    letter-spacing: 1px;
    cursor: default;
}

.text {
    font-size: 19px;
    font-weight:350;
    

    /* ////// */ 
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 1rem;
}

.text p {
    padding: 0px;

    /* ////// */ 
    margin: 1rem 2rem 1rem 0rem;
    width: 400px;
    
}

.text span{
    font-weight: 600;
}

.italic{
    font-style: italic;
}

@media (max-width: 1025px) {
    
    .imgAbout{
        width: 20rem;
        height: 13rem;
    }

}


@media (max-width: 878px) {
    .about{
        display: flex
        ;
            justify-content:unset
    }

    .container{
        display: flex;
        flex-direction: column;
        padding: 3.5rem 0rem;
        align-items: unset;
        margin: unset;
    }

    .imgAbout{
        width: 20rem;
        height: 11rem;
        border-radius: 9px;
        filter:brightness(0.3);

        /* ////// */ 
        image-rendering: unset;
    }

    .imgCont{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        /* ////// */ 
        width: unset;
        margin-right: 0rem;
    }

    .aboutTextResp{
        display: none;
    }

    .aboutText{
        position: absolute;
        z-index: 2;
        text-shadow: 0px 5px 3.7px #00000068;
        font-size: 27px;
        font-weight:600 ;
        letter-spacing: 1px;

        display: unset;
    }

    .text {
        font-size: 19px;
        font-weight:350;

        /* ////// */ 
        display: unset;
        text-align: center;
        flex-direction: column;
        width: unset;
        margin-left: 0rem;
    }

    .text p {
        padding: 0.3rem 10rem;
        
        /* ////// */ 
        margin: 1.1rem 0rem;
        width: unset;
    }

    .text span{
        font-weight: 600;
    }

    .italic{
        font-style: italic;
    }

    
}

@media (max-width: 550px) {
    .text p{
    padding: 0.3rem 1.5rem;
    }

    .transform:hover {
    
    transform: scale(1.05);
    }
}


@media (max-width: 345px) {
    .imgAbout{
        width: 18rem;
    }
}