@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background: #03010ef3;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #03010ef3;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  text-align: center;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


