@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.nav{
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    background: transparent; /* Inicialmente transparente */
    transition: 0.3s ease;
    z-index: 3;
    
}

.container{
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
    padding: 0rem 1.5rem;
    align-items: center;

    /* ////// */
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    margin: 0;
}

.cinzel{
    font-family: "Cinzel", serif;
}

.poppins{
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.navItem{
    padding-top: 0.3rem;
    cursor: pointer;
    
    /* ////// */
    display: flex;
    flex-direction: row;
}

/* ////// */
.burgerNavImg{
    padding-right: 1rem;
}
  
.transform {
    transition: transform 0.2s ease-in-out;
}

.transform:hover {
    transform: scale(1.1); 
}
  

/* ////// */
.trabajos{
    padding-top: 0.5rem;
}

.logoCont{
    width: 100%; 
    display: flex ; 
    justify-content: center;
    padding: 0.3rem 0.45rem 0rem 0rem;
}

.logoCont .a{
    all: unset;
    cursor: pointer;
}

.nav.scrolled {
    background: #06001D; 
}

.logo{
    width: 48px; 
    height: 48px;
}

/* ////// */
.valijaImg{
    width: 35px; 
    padding-right: 0.7rem;
}

/* ////// */
.houseImg{
    width: 46px; 
    padding-right: 0.3rem;
}

.titleLogo{
    width: 210px;
}

.titleCont{
    padding: 0.6rem 0rem 0rem 0.5rem;
    text-align: left;
}

.link{
    all: unset;
}

.linkT{
    margin-right: 2rem ;
}

.link:hover{
    cursor: pointer;
}

@media (max-width: 1000px) {

   .explore{
    display: none;
   }

   .burgerNavImg{
    padding-right: 0;
   }

   .trabajosLink{
    display: none;
   }

   .linkT{
    margin-right: 0rem ;
}
}

@media (max-width: 760px) {
    .nav{
        height: 65px;
    }

    .logo{
        width: 38px; height: 39px;
       }
    
       .titleLogo{
        width: 182px;
    }

    .titleCont{
        padding: 0.4rem 0rem 0rem 0.5rem;
    }
}

@media (max-width: 550px) {


}